{% load static %}


<div class="redes">
    <div class="img-red">
        <a href="https://github.com/DeomaING" target="_blank"><img src="{% static 'portafolio/github-logo.png' %}" class="img-fluid"></a>
    </div>
    <div class="img-red">
        <a href="https://www.linkedin.com/in/camilo-ing/" target="_blank"><img src="{% static 'portafolio/in-logo.png' %}" class="img-fluid"></a>
    </div>
    <div class="img-red">
        <a href="https://wa.me/573213227372" target="_blank"><img src="{% static 'portafolio/whta-logo.png' %}" class="img-fluid"></a>
    </div>
</div>